*{
  margin: 0;
  padding: 0;
}
.App {
  width: 700px;
}

.display {
  background-color: gray;
  color: #fff;
  font-weight: bold;
  padding: 0 30px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-sections {
  display: flex;
  height: 100px;
}

.btn-division {
  width: 25%;
  height: 100%;
}

.btn-style {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.btn-style-new {
  width: 50%;
  height: 100%;
}

.btn-style-new button {
  width: 100%;
  height: 100%;
}